<style>
    h2 {
        text-align: center
    }
</style>
<h2>Update Application</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Application Details Below</h3>
            <div *ngIf="this.applications"></div>
            <div class="row">
                <div class="col-md-6">
                    <form (submit)="update()">
                        <div class="form-group">
                            <input type="hidden" [(ngModel)]="applications._id" name="_id" class="form-control"
                                required>
                            <label>School Name</label>
                            <input type="text" [(ngModel)]="applications.school_name" name="school_name"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" [(ngModel)]="applications.first_name" name="first_name"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" [(ngModel)]="applications.last_name" name="last_name"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" [(ngModel)]="applications.phone" name="phone" class="form-control"
                                required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" [(ngModel)]="applications.email" name="email" class="form-control"
                                required>
                        </div>
                        <br>
                        <input type="submit" class="btn btn btn-success" value="Update">
                        <a href="#" class="btn btn btn-danger">Cancel</a>
                    </form>
                    <br>
                    <p>{{ message}}</p>
                </div>
            </div>
        </div>
    </div>