<!-- Final App Check-in -->
<style>
    h2 {
        text-align: center
    }
</style>
<h2>Update Application</h2>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h3>Update Application Form</h3>
            <!-- <div *ngIf="this.applications"></div> -->
            <!-- <div class="row">
                <div class="col-md-6"> -->
                    <form #updateForm="ngForm" (submit)="update()">
                        <input type="hidden" [(ngModel)]="applications._id" name="_id" class="form-control" required>
                        <div class="form-group"
                            [class.has-error]="school_nameControl.invalid && school_nameControl.touched">
                            <label for="school_name" class="control-label">School Name</label>
                            <input type="text" [(ngModel)]="applications.school_name" name="school_name"
                                class="form-control" #school_nameControl="ngModel" required>
                            <span class="help-block" style="color:rgb(221, 55, 55)"
                                *ngIf="school_nameControl.invalid && school_nameControl.touched">School Name is
                                required</span>
                        </div>
                        <div class="form-group"
                            [class.has-error]="first_nameControl.invalid && first_nameControl.touched">
                            <label for="first_name" class="control-label">First Name</label>
                            <input type="text" [(ngModel)]="applications.first_name" name="first_name"
                                class="form-control" #first_nameControl="ngModel" required>
                            <span class="help-block" style="color:rgb(221, 55, 55)"
                                *ngIf="first_nameControl.invalid && first_nameControl.touched">First Name is
                                required</span>
                        </div>
                        <div class="form-group"
                            [class.has-error]="last_nameControl.invalid && last_nameControl.touched">
                            <label for="last_name" class="control-label">Last Name</label>
                            <input type="text" [(ngModel)]="applications.last_name" name="last_name"
                                class="form-control" #last_nameControl="ngModel" required>
                            <span class="help-block" style="color:rgb(221, 55, 55)"
                                *ngIf="last_nameControl.invalid && last_nameControl.touched">Last Name is
                                required</span>
                        </div>
                        <div class="form-group" [class.has-error]="phoneControl.invalid && phoneControl.touched">
                            <label for="last_name" class="control-label">Phone</label>
                            <input type="text" [(ngModel)]="applications.phone" name="phone" pattern="^\d{10}$"
                                maxlength="10" class="form-control" #phoneControl="ngModel" required>
                            <span class="help-block" style="color:rgb(221, 55, 55)"
                                *ngIf="phoneControl.invalid && phoneControl.touched">Phone is required and must be 10
                                Digits</span>
                        </div>
                        <div class="form-group" [class.has-error]="emailControl.invalid && emailControl.touched">
                            <label for="email" class="control-label">Email</label>
                            <input type="text" [(ngModel)]="applications.email" name="email" class="form-control"
                                #emailControl="ngModel" required>
                            <span class="help-block" style="color:rgb(221, 55, 55)"
                                *ngIf="emailControl.invalid && emailControl.touched">Email is required</span>
                        </div>
                        <br>
                        <input type="submit" class="btn btn btn-success" style="margin-right: 10px;" [disabled]="updateForm.invalid" value="Submit">
                        <a href="/applications" class="btn btn btn-danger">Go Back</a>
                    </form>
                    <br>
                    <p>{{ message}}</p>
                </div>
            </div>
        <!-- </div>
    </div> -->