<!-- Final App Check-in 3 -->
<div class="container">
    <div class="col-md-12">
        <img class='img-responsive' src="assets/graduationcap.gif" width='150' height='150' style="margin:0px 150px">
        <img class='img-responsive' src="assets/schoolbuilding.gif" width='150' height='150' style="float:right; margin:0px 150px">
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Application Form</h3>
            <div class="row">
                <div class="col-md-10">
                    <form #applyForm="ngForm" (submit)="addApplication()">
                        <div class="form-group">
                            <label for="school_name" class="control-label">School Name</label>
                            <input type="text" [(ngModel)]="school_name" name="school_name" class="form-control"
                                #school_nameControl="ngModel" required
                                [class.is-invalid]="school_nameControl.invalid && school_nameControl.touched">
                            <span class="help-block" style="color:rgb(221, 55, 55)"
                                *ngIf="school_nameControl.invalid && school_nameControl.touched">School Name is
                                required</span>
                        </div>
                        <div class="form-group">
                            <label for="first_name" class="control-label">First Name</label>
                            <input type="text" [(ngModel)]="first_name" name="first_name" class="form-control"
                                #first_nameControl="ngModel" required
                                [class.is-invalid]="first_nameControl.invalid && first_nameControl.touched">
                            <span class="help-block" style="color:rgb(221, 55, 55)"
                                *ngIf="first_nameControl.invalid && first_nameControl.touched">First Name is
                                required</span>
                        </div>
                        <div class="form-group">
                            <label for="last_name" class="control-label">Last Name</label>
                            <input type="text" [(ngModel)]="last_name" name="last_name" class="form-control"
                                #last_nameControl="ngModel" required
                                [class.is-invalid]="last_nameControl.invalid && last_nameControl.touched">
                            <span class="help-block" style="color:rgb(221, 55, 55)"
                                *ngIf="last_nameControl.invalid && last_nameControl.touched">Last Name is
                                required</span>
                        </div>
                        <div class="form-group">
                            <label for="last_name" class="control-label">Phone</label>
                            <input type="text" [(ngModel)]="phone" name="phone" pattern="^\d{10}$" maxlength="10"
                                class="form-control" #phoneControl="ngModel" required
                                [class.is-invalid]="phoneControl.invalid && phoneControl.touched">
                            <span class="help-block" style="color:rgb(221, 55, 55)"
                                *ngIf="phoneControl.invalid && phoneControl.touched">Phone is required and must be
                                10
                                Digits</span>
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Email</label>
                            <input type="text" [(ngModel)]="email" name="email" class="form-control"
                                #emailControl="ngModel" required
                                [class.is-invalid]="emailControl.invalid && emailControl.touched">
                            <span class="help-block" style="color:rgb(221, 55, 55)"
                                *ngIf="emailControl.invalid && emailControl.touched">Email is required</span>
                        </div>
                        <br>
                        <input type="submit" class="btn btn btn-success" [disabled]="applyForm.invalid" value="Apply">

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Search Schools</h3>
            <div class="col-md-4"></div>
            <form #searchForm="ngForm" (submit)="getSchoolDetail(zip)">
                <div class="form-group">
                    <label for="zip" class="control-label">Enter ZIP Code</label>
                    <input type="text" [(ngModel)]="zip" name="zip" pattern="^\d{5}$" maxlength="5"
                        data-toggle="tooltip" title="Schools available for ZIP 80129 and 80014" class="form-control"
                        #zipControl="ngModel" required [class.is-invalid]="zipControl.invalid && zipControl.touched">
                    <span class="help-block" style="color:rgb(221, 55, 55)"
                        *ngIf="zipControl.invalid && zipControl.touched">ZIP Code is
                        required for searching school and must be 5 Digits</span>
                </div>
                <br>
                <input type="submit" class="btn btn btn-success" (click)="getSchoolDetail(zip)"
                    [disabled]="searchForm.invalid" value="Search">
                <!-- <button type="submit" class="btn btn-primary" (click)="getSchoolDetail(zip)" [disabled]="searchForm.invalid">Search<i class="fas fa-search"></i></button> -->
            </form>
            <div class="container">
                <style>
                    h3 {
                        text-align: center
                    }
                </style>
                <h3>School Details</h3>
                <!-- <div *ngIf="schooldetail"> -->
                <div *ngFor="let school of schooldetail">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>School Name</th>
                                <th>Rating</th>
                                <th>ZIP</th>
                                <th>City</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{school.schoolname}}</td>
                                <td>{{school.rating}}</td>
                                <td>{{school.zip}}</td>
                                <td>{{school.city}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <style>
            h3 {
                text-align: center
            }
        </style>
        <h3>Applications</h3>
        <div *ngFor="let application of applications">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>School Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Delete/Update Application</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{application.school_name}}</td>
                        <td>{{application.first_name}}</td>
                        <td>{{application.last_name}}</td>
                        <td>{{application.phone}}</td>
                        <td>{{application.email}}</td>
                        <td><input type="button" (click)="deleteApplication(application._id)" value="Delete"
                                class="btn btn-danger">
                            <input type="button" [routerLink]="['/update', application._id]" value="Update"
                                class="btn btn btn-success">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>